<section >
    <footer id="copy-right">
        <div class="copy-right-sec">
            <i class="fa-solid fa-copyright"></i>
            Copyright &copy; 2023 Ayman.
        </div>
    </footer>
</section>
