<h2 class="hedt1"></h2>

<div class="header1">
  <a href="/">HOME</a>
  <a href="#" id="submit_nav_button">Weather</a>

<div>
        <form id="form1">
            <label for="address">Address</label>
            <input type="text" id="address" name="address">
            <button >Search</button>
        </form>
    </div>
</div>