<!DOCTYPE html>
<html>

<head>
    <title> new Project</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/footer.css" />
</head>

<body>

    <div class="hedt1">
        <h2>{{>header}} </h2>
        <h2 id="location">Location: {{location}}</h2>
        <h2 id="forecast">Forecast: {{forecast}}</h2>
        <h2 id="error" style="border: 1px sold red;color:red;">Error: {{error}}</h2>
    </div>
    <h2>{{>footer}} </h2>

</body>

</html>