<!DOCTYPE html>
<html>

<head>
     <title> new Project</title>
     <link rel="stylesheet" href="css/style.css" />
     <link rel="stylesheet" href="css/footer.css" />
</head>

<body>
     <h2>{{>header}}</h2>

     <h2>{{message}}</h2>
     
     <p id="location"></p>
     <p id="forecast"></p>
     <p id="error"></p>

     <h2>{{>footer}} </h2>
     <script src="js/script.js"></script>

</body>

</html>